---
import Navbar from "../components/navbar.astro";
---

<header class="flex-row">
  <a href="/"><img src="/img/logo.jpg" alt="img-logo" /></a>
  <Navbar />
</header>

<style>
  header {
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    width: 95%;
    height: 80px;
    margin: 10px auto;
    padding: 12px;
    transition: var(--transition);
    z-index: 100;
  }

  header a {
    height: 100%;
    margin-right: auto;
    display: flex;
  }

  header img {
    height: 100%;
    width: auto;
    border-radius: 12px;
  }

  @media (min-width: 750px) {
    header {
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(5px);
      width: 98%;
    }
  }

  @media (hover: hover) {
    header:hover {
      background-color: var(--clr-white);
    }
  }
</style>

<script></script>
