---

---

<footer class="flex-column">
  <img src="/img/logo.jpg" alt="logo" />
  <h3>The Simpsons Character Database</h3>

  <div class="contact-info">
    <p>Explore your favorite characters from Springfield</p>
  </div>
  <div class="flex-row follow">
    <a href="https://www.instagram.com/thesimpsons" target="_blank"
      ><i class="bi bi-instagram"></i></a
    >
    <a href="https://www.facebook.com/thesimpsons" target="_blank"
      ><i class="bi bi-facebook"></i></a
    >
  </div>
  <code>©Copyright 2025 By MacV - The Simpsons™</code>
</footer>

<style>
  footer {
    background-color: var(--clr-dark);
    margin-top: auto;
    color: var(--clr-white);
    padding-bottom: 20px;
  }

  img {
    background-color: var(--clr-dark);
    width: 80px;
    height: 80px;
    margin-top: -80px;
    border-radius: 10px;
  }

  .contact-info p {
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
    justify-content: center;
  }

  .contact-info p i {
    margin-right: 10px;
  }

  .follow {
    border: solid 1px #ffffff5a;
    border-radius: 50px;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }

  .follow i {
    font-size: 26px;
    color: var(--clr-white);
    padding: 16px 22px;
    transition: var(--transition);
  }

  @media (hover: hover) {
    .follow i:hover {
      background-color: var(--clr-dark2);
    }
  }
</style>
