---

---

<footer class="flex-column">
  <img src="/img/logo.jpg" alt="logo" />
  <h3>Califica cada bocado!</h3>

  <div class="contact-info">
    <p>+57 3172366425</p>
    <p>cuellarmigue@gmail.com</p>
    <p>Neiva, Huila</p>
  </div>
  <div class="flex-row follow">
    <a href=""><i class="bi bi-whatsapp"></i></a>
    <a href=""><i class="bi bi-instagram"></i></a>
    <a href=""><i class="bi bi-tiktok"></i></a>
  </div>
  <code>©Copyright 2025 By MacV</code>
</footer>

<style>
  footer {
    background-color: var(--clr-dark);
    margin-top: auto;
    color: var(--clr-white);
    padding-bottom: 20px;
  }

  img {
    background-color: var(--clr-dark);
    width: 80px;
    height: 80px;
    margin-top: -80px;
    border-radius: 10px;
  }

  .contact-info p {
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
    justify-content: center;
  }

  .contact-info p i {
    margin-right: 10px;
  }

  .follow {
    border: solid 1px #ffffff5a;
    border-radius: 50px;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }

  .follow i {
    font-size: 26px;
    color: var(--clr-white);
    padding: 16px 22px;
    transition: var(--transition);
  }

  @media (hover: hover) {
    .follow i:hover {
      background-color: var(--clr-dark2);
    }
  }
</style>
