---
const { title, span, bg_image } = Astro.props;
---

<section class="flex-column" style={`--bg-image: url('${bg_image || ""}')`}>
  <h1>{title}</h1>
  {span && <span>{span}</span>}
  <slot />
  <!-- <div class="buttons flex-row">
    <a
      class="boton"
      href="https://wa.me/523172366425?text=Hola%20quiero%20información"
      target="_blank">CONTÁCTANOS</a
    >
    <a
      class="boton2"
      href="https://wa.me/523172366425?text=Hola%20quiero%20información"
      target="_blank">ABRIR APP</a
    >
  </div> -->
</section>

<style>
  section {
    text-align: center;
    background-image: var(--bg-image);
    background-color: #121617c2;
    background-blend-mode: darken;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    gap: 5px;
  }

  .buttons {
    gap: 10px;
  }

  h1 {
    font-family: var(--font1);
    color: var(--clr-white);
    font-size: 2.8rem;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 10px;
    padding-left: 10px;
  }

  h3 {
    line-height: normal;
  }

  span {
    color: #fff;
    font-size: 0.54rem;
    margin-top: -12px;
  }

  @media (min-width: 750px) {
    h1 {
      font-size: 4rem;
    }

    span {
      font-size: 0.7rem;
      margin-top: -15px;
    }
  }
</style>
